// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

$fa-font-path: "../webfonts";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

//Admin-Lte
@import "~admin-lte/dist/css/adminlte.css";

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

//@import "~icheck-bootstrap/icheck-bootstrap.min.css";

@page {
    margin: 0;
}

.VuePagination__count {
    font-size: 0.875rem !important;
}
.VuePagination__pagination {
    margin-bottom: 1px !important;
}

input[type="checkbox"] {
    transform: scale(1.2);
}
